@font-face {
    font-family: 'JostBold';
    src: url('../../../FuenteSitioWeb/Jost-Bold.ttf') format('truetype');
}

* {
    font-family: 'JostBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    margin: 0;
    background-color: #534D4D;
}

.datosiniciarsesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #ffb46f;
    width: 30%;
    padding: 50px;
    border: 3px white solid;
    border-radius: 10px;
}

.datosiniciarsesion table {
    margin: 0 auto;
}

.datosiniciarsesion h1 {
    color: white;
    text-shadow: -2px -2px 1px #534D4D;
}

.datosiniciarsesion td {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.datosiniciarsesion label {
    color: white;
    text-shadow: -2px -2px 1px #534D4D;
}

.datosiniciarsesion input {
    border: 2px #534D4D solid;
    box-shadow: 3px 3px 0px #534D4D;
    width: 200px;
}

.datosiniciarsesion input::-webkit-inner-spin-button,.datosiniciarsesion input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0 auto;
}

.datosiniciarsesion button {
    border: 3px white solid;
    color: white;
    background-color: #534D4D;
    cursor: pointer;
    font-size: 16px;
}

.datosiniciarsesion button:hover {
    border-color: #534D4D;
    color: #534D4D;
    background-color: white;
}

.error {
    border: 3px white solid;
    border-radius: 5px;
    color: white;
    background-color: #534D4D;
    text-shadow: 2px 2px 1px #ffb46f;
}